footer
	+gradient(0deg, $vermelho, transparent)
	padding: 12px

	p
		font-family: 'Fugaz One'
		text-align: center

	.logo-rodape
		img
			width: 110px
			height: 110px
			display: block
			margin: 30px auto 10px auto
			